/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here   that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.container {
  width: 60em;
  margin: 0 auto;
}
body {
  background: #2e3a3a;
}
@font-face {
  font-family: 'deming';
  src: url('/fonts/deming_ep-webfont.eot');
  src: url('/fonts/deming_ep-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/deming_ep-webfont.woff') format('woff'), url('/fonts/deming_ep-webfont.ttf') format('truetype'), url('/fonts/deming_ep-webfont.svg#deming_epregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sullivan';
  src: url('/fonts/sullivan-regular-webfont.eot');
  src: url('/fonts/sullivan-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/sullivan-regular-webfont.woff') format('woff'), url('/fonts/sullivan-regular-webfont.ttf') format('truetype'), url('/fonts/sullivan-regular-webfont.svg#sullivanregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.sans {
  font-family: "adelle-sans", sans-serif;
}
.serif {
  font-family: "adelle", serif;
}
body {
  font-size: 16px;
  font-family: "adelle", serif;
  color: #2e3a3a;
}
h1 {
  font-size: 3.25em;
  font-weight: 300;
  margin-bottom: 0.75em;
  -webkit-font-smoothing: antialiased;
}
p {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 2.5em;
  color: #7c8a8b;
}
a {
  color: #014a4e;
  border-bottom: 1px dotted #014a4e;
  text-decoration: none;
}
.btn {
  display: block;
  text-transform: uppercase;
  font-family: "adelle-sans", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #2e3a3a;
  padding: 1em 2em;
  text-align: center;
  position: relative;
  letter-spacing: 1px;
  background: #d1d8d8;
  border-bottom: 0;
  z-index: 2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn span {
  z-index: 3;
  position: relative;
}
.btn:after {
  content: " ";
  display: block;
  position: absolute;
  left: -8px;
  right: -8px;
  top: -8px;
  bottom: -8px;
  border: 2px dotted #d1d8d8;
  z-index: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn:hover:after {
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}
.btn.primary {
  background: #fcb614;
  color: #fef0d0;
}
.btn.primary:hover {
  color: #2e3a3a;
}
.btn.secondary {
  background: #1bb1ba;
  color: #85f8ff;
}
.btn.mono {
  background: #2e3a3a;
  color: #d1d8d8;
}
.btn.inverse:after {
  border-color: #2e3a3a;
}
.btn.inverse:hover {
  color: #ffffff;
}
#site-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background: rgba(46, 58, 58, 0.95);
  zoom: 1;
  padding: 1em 0;
}
#site-nav:before,
#site-nav:after {
  content: "";
  display: table;
}
#site-nav:after {
  clear: both;
}
#site-nav ul {
  zoom: 1;
}
#site-nav ul:before,
#site-nav ul:after {
  content: "";
  display: table;
}
#site-nav ul:after {
  clear: both;
}
#site-nav ul.left-nav {
  float: left;
}
#site-nav ul.left-nav li {
  margin-right: 1em;
}
#site-nav ul.right-nav {
  float: right;
}
#site-nav ul.right-nav li {
  margin-left: 1em;
}
#site-nav li {
  float: left;
}
#site-nav a {
  font-family: "adelle-sans", sans-serif;
  text-decoration: none;
  color: #d1d8d8;
  text-transform: uppercase;
  font-size: 0.75em;
  border: 1px solid #2e3a3a;
  display: block;
  padding: 1em 1.5em;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#site-nav a:hover {
  border-color: #a6b2b1;
  border-style: dotted;
}
#site-nav a.selected {
  border-color: #ffffff;
  color: #ffffff;
}
#site-nav a.selected:hover {
  border-style: solid;
}
a#logo {
  text-transform: none;
  position: absolute;
  border: none;
  width: 12em;
  left: 50%;
  margin-left: -6em;
  display: block;
  top: 1.125em;
  padding: 0;
  text-align: center;
  font-family: "adelle", serif;
}
a#logo:hover {
  border: 0;
}
a#logo h1 {
  font-size: 3.25em;
  color: #fff;
  font-weight: 600;
}
a#logo h1 b {
  color: #fcb614;
}
.slide {
  position: relative;
  background: #ffffff;
}
.slide .next {
  display: block;
  position: absolute;
  bottom: 0.25em;
  width: 4em;
  text-align: center;
  left: 50%;
  margin-left: -2em;
  font-size: 4em;
  text-decoration: none;
  color: #d1d8d8;
  -webkit-font-smoothing: antialiased;
}
.slide .content {
  width: 35em;
  position: relative;
}
.slide .btn {
  width: 40%;
}
.slide.centered {
  text-align: center;
}
.slide.centered .content,
.slide.centered .btn {
  margin: 0 auto;
}
#intro {
  position: relative;
  overflow: hidden;
}
#intro .content {
  width: 100%;
}
#intro .btn {
  width: 10em;
  color: #2e3a3a;
}
#intro .btn:hover {
  color: #fff;
}
#intro .big-un {
  position: absolute;
  left: 0;
  right: 0;
  background: #000;
}
#intro .big-un img {
  display: block;
  height: 100%;
  margin: 0 auto;
}
#word-art {
  margin: 0 auto;
  margin-bottom: 4em;
  width: 100%;
  color: #ffffff;
}
#word-art #time,
#word-art #date {
  display: block;
  font-family: "deming";
  font-size: 2.25em;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-shadow: 3px 3px 0px rgba(85, 99, 99, 0.5), -3px -3px 0px #171e1e;
  line-height: 0.8;
  padding: 0.5em 0 0.5em 0;
}
#word-art #time {
  border-bottom: 3px double #fcb614;
}
#word-art #date {
  border-top: 3px double #fcb614;
  margin-top: -1.25em;
}
#word-art #hack {
  font-family: "sullivan";
  text-transform: uppercase;
  font-size: 18em;
  font-weight: normal;
  text-shadow: 6px 6px 0px rgba(85, 99, 99, 0.5), -6px -6px 0px #171e1e;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  line-height: 1;
  color: #fff;
  letter-spacing: -10px;
  padding: 0;
}
#word-art #hack span {
  color: #fcb614;
}
#junior {
  background: #fcb614;
}
#junior p {
  color: #fef0d0;
}
#junior .btn:after {
  border-color: #fee2a1;
}
#hackathon {
  background: #f9f9f9;
}
#insights {
  background: #171e1e;
}
#insights h1,
#insights h2,
#insights h3 {
  color: #fff;
}
#insights p {
  color: #a6b2b1;
}
#supporters p {
  font-size: 1em;
}
#supporters #logos-large,
#supporters #logos-medium,
#supporters #logos-small {
  zoom: 1;
  margin-bottom: 2em;
}
#supporters #logos-large:before,
#supporters #logos-medium:before,
#supporters #logos-small:before,
#supporters #logos-large:after,
#supporters #logos-medium:after,
#supporters #logos-small:after {
  content: "";
  display: table;
}
#supporters #logos-large:after,
#supporters #logos-medium:after,
#supporters #logos-small:after {
  clear: both;
}
#supporters h2 {
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: "adelle-sans", sans-serif;
  color: #a6b2b1;
  letter-spacing: 1px;
  margin-bottom: 1.5em;
}
#supporters .supporter {
  background: #d1d8d8;
  float: left;
}
#supporters .supporter a {
  border: 2px solid #fff;
  display: block;
}
#supporters .supporter a img {
  width: 100%;
}
#supporters #logos-large .supporter {
  width: 50%;
}
#supporters #logos-large a {
  height: 8em;
}
#supporters #logos-medium .supporter {
  width: 33%;
}
#supporters #logos-medium a {
  height: 6em;
}
#supporters #logos-small .supporter {
  width: 20%;
}
#supporters #logos-small a {
  height: 4em;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.collapse.in {
  height: auto;
}
.close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2em;
  font-weight: bold;
  line-height: 0.6;
  color: #2e3a3a;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #2e3a3a;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: #2e3a3a;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 9999;
  width: 500px;
  margin-left: -250px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 20%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 2em;
}
.modal-body h1 {
  font-size: 1.5em;
  margin: 0.25em 0 1.5em 0;
}
.modal-body h1 b {
  font-weight: 600;
  border-bottom: 3px solid #fcb614;
  display: inline-block;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #2e3a3a;
  -moz-box-shadow: inset 0 1px 0 #2e3a3a;
  box-shadow: inset 0 1px 0 #2e3a3a;
  zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  content: "";
  display: table;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
