/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here   that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.container {
  width: 60em;
  margin: 0 auto;
}
.row {
  padding: 2em 0;
}
@font-face {
  font-family: 'deming';
  src: url('/fonts/deming_ep-webfont.eot');
  src: url('/fonts/deming_ep-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/deming_ep-webfont.woff') format('woff'), url('/fonts/deming_ep-webfont.ttf') format('truetype'), url('/fonts/deming_ep-webfont.svg#deming_epregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sullivan';
  src: url('/fonts/sullivan-regular-webfont.eot');
  src: url('/fonts/sullivan-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/sullivan-regular-webfont.woff') format('woff'), url('/fonts/sullivan-regular-webfont.ttf') format('truetype'), url('/fonts/sullivan-regular-webfont.svg#sullivanregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.sans {
  font-family: "adelle-sans", sans-serif;
}
.serif {
  font-family: "adelle-sans", sans-serif;
}
body {
  font-size: 16px;
  font-family: "adelle-sans", sans-serif;
  color: #171b1e;
  font-weight: 300;
}
h1,
h2,
h3,
blockquote {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1 {
  font-family: "adelle-sans", sans-serif;
  font-size: 2em;
}
h1.opening {
  font-family: "sullivan";
  text-transform: uppercase;
  font-size: 9em;
  letter-spacing: -2px;
  line-height: 1;
  margin: 0;
}
.section-head {
  margin-bottom: 1em;
}
.section-subhead {
  font-size: 1.25em;
  color: #7c8a8b;
  line-height: 1.3;
  width: 35em;
  margin: 0 auto;
}
h2,
h3 {
  font-weight: 300;
  margin-bottom: 0.5em;
  font-family: "adelle-sans", sans-serif;
}
p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 2em;
  color: #7c8a8b;
}
.brand-font {
  font-family: "sullivan";
  text-transform: uppercase;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  line-height: 1;
  color: #fff;
  letter-spacing: -10px;
  padding: 0;
}
.brand-font span {
  color: #fcb614;
}
a {
  color: #014a4e;
  border-bottom: 1px dotted #014a4e;
  text-decoration: none;
}
.btn {
  display: block;
  font-family: "adelle-sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #171b1e;
  padding: 1.5em 0;
  text-align: center;
  position: relative;
  letter-spacing: 1px;
  background: #d1d8d8;
  border-bottom: 0;
  z-index: 2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.875em;
}
.btn.primary {
  background: #fcb614;
  color: #fef0d0;
}
.btn.primary:hover {
  color: #171b1e;
  background: #fdc646;
}
.btn.primary.fail {
  color: white;
}
.btn.primary.disabled {
  background: #fcb614;
}
.btn.secondary {
  background: #1bb1ba;
  color: #fff;
}
.btn.secondary:hover {
  color: #fff;
  background: #28d5e0;
}
.btn.secondary.disabled {
  background: #1bb1ba;
}
.btn.mono {
  background: #171b1e;
  color: #d1d8d8;
}
.btn.mono:hover {
  color: #171b1e;
  background: #2d353b;
}
.btn.mono.disabled {
  background: #171b1e;
}
.btn.inverse:after {
  border-color: #171b1e;
}
.btn.inverse:hover {
  color: #ffffff;
}
.btn.fail {
  background-color: #ad4949;
  color: white;
}
.btn.fail:hover {
  background-color: #c06969;
}
.btn.fail.disabled {
  background: #ad4949;
}
.btn.disabled {
  cursor: default;
}
input.fail {
  color: #ad4949;
}
@-webkit-keyframes bgscroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -762px 0px;
  }
}
@-moz-keyframes bgscroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -762px 0px;
  }
}
@-ms-keyframes bgscroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -762px 0px;
  }
}
@-o-keyframes bgscroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -762px 0px;
  }
}
@keyframes bgscroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -762px 0px;
  }
}
@-webkit-keyframes codescroll {
  from {
    background-position: 90% 0;
  }
  to {
    background-position: 90% -691px;
  }
}
@-moz-keyframes codescroll {
  from {
    background-position: 90% 0;
  }
  to {
    background-position: 90% -691px;
  }
}
@-ms-keyframes codescroll {
  from {
    background-position: 90% 0;
  }
  to {
    background-position: 90% -691px;
  }
}
@-o-keyframes codescroll {
  from {
    background-position: 90% 0;
  }
  to {
    background-position: 90% -691px;
  }
}
@keyframes codescroll {
  from {
    background-position: 90% 0;
  }
  to {
    background-position: 90% -691px;
  }
}
#site-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  zoom: 1;
}
#site-nav:before,
#site-nav:after {
  content: "";
  display: table;
}
#site-nav:after {
  clear: both;
}
#site-nav ul {
  zoom: 1;
  width: 36%;
}
#site-nav ul:before,
#site-nav ul:after {
  content: "";
  display: table;
}
#site-nav ul:after {
  clear: both;
}
#site-nav ul.left-nav {
  float: left;
}
#site-nav ul.right-nav {
  float: right;
}
#site-nav li {
  float: left;
  width: 33%;
}
#site-nav li a {
  font-family: "adelle-sans", sans-serif;
  text-decoration: none;
  color: #d1d8d8;
  text-transform: uppercase;
  font-size: 0.75em;
  line-height: 1.1;
  border: 0;
  display: block;
  padding: 1.25em;
  text-align: center;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
#site-nav li a span {
  color: #7c8a8b;
  font-weight: 500;
}
#site-nav li a.tickets {
  color: #44dae3;
}
#site-nav li a.tickets:hover {
  background: #44dae3;
  color: #171b1e;
}
#site-nav li a.tickets:hover span {
  color: #fff;
}
#site-nav li a:hover {
  background: #fcb614;
  color: #171b1e;
}
#site-nav li a:hover span {
  color: #fff;
}
a#logo {
  text-transform: none;
  position: absolute;
  border: none;
  width: 16em;
  left: 50%;
  margin-left: -8em;
  display: block;
  top: 1em;
  padding: 0;
  font-family: "adelle-sans", sans-serif;
}
a#logo h1 {
  font-size: 1.75em;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-family: "adelle-sans", sans-serif;
  line-height: 1;
}
a#logo h1 b {
  color: #fcb614;
  font-weight: 700;
}
.opening {
  background-image: url(/images/header-bg.jpg);
  background-size: cover;
  padding: 6em 0 0 0;
  height: 9em;
  overflow: hidden;
}
.opening .strap {
  text-align: center;
  font-family: "adelle-sans", sans-serif;
  color: #fff;
  font-size: 2em;
  font-weight: 100;
}
.opening h1 {
  text-align: center;
  font-family: "sullivan";
  text-transform: uppercase;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: #fff;
  letter-spacing: -10px;
  padding: 0;
  color: #d1d8d8;
  font-size: 13.75em;
  font-weight: 100;
  line-height: 1;
}
.opening h1 span {
  color: #fcb614;
}
.opening h1 span.primary {
  margin-left: -24px;
  color: #fcb614;
}
.opening h1 span.secondary {
  color: #44dae3;
}
.opening h2 {
  color: #fff;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  font-size: 2em;
}
.opening h3 {
  color: #fff;
  font-family: "adelle-sans", sans-serif;
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
  color: #d1d8d8;
  margin-bottom: 2em;
}
.opening .tickets {
  width: 20em;
  margin: 0 auto;
  margin-bottom: 1.5em;
}
.opening .more {
  display: block;
  width: 20em;
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
  color: #7c8a8b;
  border: 0;
}
#site-opening {
  padding: 9em 0 3em 0;
  height: auto;
}
#tickets {
  background: white;
  zoom: 1;
  padding: 0;
}
#tickets:before,
#tickets:after {
  content: "";
  display: table;
}
#tickets:after {
  clear: both;
}
.ticket-blurb {
  float: left;
  width: 33%;
}
.ticket-blurb .event {
  padding: 4.5em 0em 5em 0;
  margin: 0em 2em 0em 2em;
}
.ticket-blurb .event time {
  text-align: center;
  display: block;
  color: #556363;
  margin-bottom: 1em;
  font-family: "adelle-sans", sans-serif;
  font-size: 1.125em;
  font-weight: 300;
}
.ticket-blurb .event h1 {
  font-family: "sullivan";
  text-transform: uppercase;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  line-height: 1;
  color: #fff;
  letter-spacing: -10px;
  padding: 0;
  color: #556363;
  font-size: 4.75em;
  letter-spacing: -3px;
  margin-bottom: 0.25em;
  line-height: 0.9;
  text-rendering: optimizeLegibility;
  border-bottom: 4px double #fcb614;
}
.ticket-blurb .event h1 span {
  color: #fcb614;
}
.ticket-blurb .event p {
  font-size: 1em;
  text-align: center;
}
.ticket-blurb .event p a {
  font-size: 0.875em;
  font-weight: 600;
  color: #1bb1ba;
}
.ticket-blurb .event .btn.tickets {
  display: block;
  margin: 0 auto;
  font-weight: 300;
}
.panorama {
  padding: 7em 0;
  background-image: url(/images/header-bg.jpg);
  background-size: cover;
}
.panorama blockquote {
  text-align: center;
  font-family: "adelle-sans", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 2.5em;
}
.panorama blockquote span {
  display: block;
  font-style: italic;
  text-align: center;
  margin-top: 1em;
  font-size: 0.5em;
}
.partners {
  background: #d1d8d8;
  zoom: 1;
  padding: 4em 0;
}
.partners:before,
.partners:after {
  content: "";
  display: table;
}
.partners:after {
  clear: both;
}
.partner-logo {
  width: 16.5%;
  float: left;
}
.partner-logo a {
  margin: 1em;
  background: #fff;
  border: 0;
  display: block;
}
.partner-logo a img {
  display: block;
  width: 100%;
}
.speakers {
  zoom: 1;
  padding: 5em 0;
}
.speakers:before,
.speakers:after {
  content: "";
  display: table;
}
.speakers:after {
  clear: both;
}
.speakers ul {
  margin-top: 4em;
}
.speakers .speaker-bio {
  float: left;
  width: 25%;
}
.speakers .speaker {
  margin: 1em 1em 1em 1em;
  border: 1px solid #d1d8d8;
}
.speakers .speaker .inner {
  padding: 1em;
}
.speakers .speaker img {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 100px;
}
.speakers .speaker h1 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}
.speakers .speaker h2 {
  color: #556363;
  margin-bottom: 1em;
  border-bottom: 4px solid #d1d8d8;
  padding: 0 0 1em 0;
  font-size: 0.875em;
}
.speakers .speaker p {
  font-size: 0.875em;
  margin-bottom: 0;
  line-height: 1.4;
}
.intro {
  padding: 5em 0;
}
.intro h1 {
  font-weight: 600;
  font-size: 2.5em;
}
.intro h1 b {
  color: red;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.collapse.in {
  height: auto;
}
.close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 2em;
  font-weight: bold;
  line-height: 0.6;
  color: #171b1e;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #171b1e;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: #171b1e;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 9999;
  width: 500px;
  margin-left: -250px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 20%;
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 700px;
  padding: 2em;
}
.modal-body h1 {
  font-family: "adelle", serif;
  letter-spacing: normal;
  font-size: 1.5em;
  margin: 0.25em 0 1.5em 0;
  text-align: center;
  color: #171b1e;
  text-transform: none;
}
.modal-body h1 b {
  font-weight: 600;
  border-bottom: 3px solid #fcb614;
  display: inline-block;
  color: #171b1e;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #171b1e;
  -moz-box-shadow: inset 0 1px 0 #171b1e;
  box-shadow: inset 0 1px 0 #171b1e;
  zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  content: "";
  display: table;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
