---
layout: home
title:
permalink: /youth-day/
---

<div class="opening">

  <div class="container">

    <h1>Youth Day</h1>
    <h2>Tech industry leaders from Cyprus, Greece<br/> &amp; the UK share their experiences.</h2>

    {% include ticket-btn.html %}


  </div>

</div>

<div class="row intro">

   <div class="container">

    <h2 class="section-subhead">A full-day conference covering topics on startups and technology. Our speakers will tell you stories from the trenches and give you practical advice on how to start, how to run your business on metrics, how to build teams and more. The day also features a number of workshops on design, hardware, business and other subjects. </h2>

  </div>

  <div class="container">
    A day dedicated to the next generation of great Cypriot technologists. We will be hosting a variety of fast-paced workshops for students aged 13-19 who are interested in programming and would like to learn more about the principles of coding, engineering and robotics. Our main aim is to inspire and educate students to get more involved with technology, not only during school hours, but also with extra-curricular activities.

    Μια ημερίδα αφιερωμένη στην επόμενη γενιά των μεγάλων Κυπρίων τεχνολόγων. Θα φιλοξενήσουμε ένα αριθμό πρακτικών εργαστήριων για μαθητές ηλικίας 13-19 που ενδιαφέρονται να μάθουν περισσότερα σχετικά με τις αρχές του προγραμματισμού, της μηχανικής και της ρομποτικής. Κύριος στόχος μας είναι να εμπνεύσουμε και να εκπαιδεύσουμε τους μαθητές έτσι ώστε να έρθουν πιό κοντά στην τεχνολογία, όχι μόνο μέσω του σχολείου, αλλά και με εξωσχολικές δραστηριότητες.
  </div>

  <div class="container">
    Code School (for ages 13-16):
    An exciting 6-hour session where you get the chance to learn the basic principles of programming and algorithms through practical examples and games. To excite you even more, you'll get the chance to use and program actual robots and teach them to do basic actions. All participating students will get certificates of attendance.

    Μια συναρπαστική 6-ωρη ημερίδα, όπου θα έχετε την ευκαιρία να μάθετε μέσα από πρακτικά παραδείγματα τις βασικές αρχές του προγραμματισμού και των αλγορίθμων παίζοντας παιχνίδια. Επίσης θα έχετε την ευκαιρία να μάθετε να χρησιμοποιείτε και να προγραμματίζετε πραγματικά ρομπότ και να τους διδάξετε να κάνουν βασικές λειτουργίες. Όλοι οι μαθητές θα πάρουν δίπλωμα συμμετοχής.
  </div>
  <div class="container">
    Junior Hackathon (for ages 16-19):
    A 6-hour session for students who have already been introduced to the basic principles of computer programming. We will take you through a crash course on basic programming robots. Then, with your team, you will be able to program a real robot either by building your own project, or building one of the pre-defined ones. The team with the most imaginative and complete project will be able to take their robot home and continue working on their project. All participating students will get certificates of attendance.

    Μια 6-ωρη ημερίδα για μαθητές οι οποίοι έχουν ήδη εισαχθεί στις βασικές αρχές του προγραμματισμού. Θα ξεκινήσουμε με ένα εντατικό μάθημα στα βασικά του προγραμματισμού ρομπότ. Στη συνέχεια, με την ομάδα σας, θα είστε σε θέση να προγραμματίσετε ένα πραγματικό ρομπότ, να δημιουργήσετε το δικό σας πρόγραμμα, ή να δημιουργήσετε ένα από τα προκαθορισμένα προγράμματα. Η ομάδα με την πιο ευφάνταστη δημιουργία θα πάρει το ρομπότ της και θα μπορεί συνεχίσει να εργάζεται πάνω στο έργο της. Όλοι οι μαθητές θα πάρουν δίπλωμα συμμετοχής.
  </div>

</div>

{% include partners.html %}


