---
layout: home
title:
permalink: /hackathon/
---

<div class="opening">

  <div class="container">

    <h1>Hackathon</h1>
    <h2>Get your hacking hats on. Things just got serious.</h2>

    {% include ticket-btn.html %}

  </div>

</div>

<div class="basic-deets">
  <div class="container">
    <div class="date"><p>Friday Sept 6th – Saturday Sept 7th</p></div>
    <div class="venue"><p>University of Cyprus</p></div>
    <div class="price"><p><a href="/tickets">Free, but ticketed.</a></p></div>
  </div>
</div>


<div class="row intro">

   <div class="container">

    <h2 class="section-subhead">Join 80+ creative developers, designers and ideators for 30 hours of hacking, designing, tinkering and general making of awesome things – web, mobile, hardware, anything goes.</h2>

  </div>

</div>


<div class="row prizes">

  <div class="container">

    <h1 class="section-head">The awesome prizes</h1>


      <div class="prize grand">
        <img  class="animated shake" src="/images/overlords.jpg" width="640">
        <h4>The Grand Prize</h4>
        <h1>2x Parrot AR Drones</h1>
        <p>Sponsored by SOFTImpact</p>
      </div>

      <ul>
        <li class="prize">
          <h4>Hardware award</h4>
          <h1>5x Rasberry Pis</h1>
          <p>Sponsored by CCS</p>
        </li>

        <li class="prize">
          <h4>Mobile award</h4>
          <h1>3-month mentorship</h1>
          <p>Sponsored by Cocoon Creations</p>
        </li>

       <!--  <li class="prize">
          <h4>Web award</h4>
          <h1>150 hours mentorship</h1>
          <p>Sponsored by Online Diktio</p>
        </li> -->
      </ul>
      <div class="prize grand ciim">
        <h4>The Startup Prize (Opt-in only)</h4>
        <h1>Participation in CIIM's Accelerator Program</h1>
        <p>The Entrepreneurship and Innovation Centre (ENTICE) of CIIM is launching an acceleration program that will help transform bright ideas into start-up companies and ambitious people into capable entrepreneurs, arming them with knowledge, tools and networks in order to enhance the competitiveness of Cyprus, the region and beyond.</p>
        <p>This prize is for teams that wish to <b>bring their hackathon project to market</b>. It will be judged separately from the rest of the prizes and will favour the marketability of the idea and the proposed solution.<p>
      </div>
  </div>

</div>

<div class="row cloudz">
  <div class="container">

        <h1>The first <b>100 people</b> to arrive on the day will each get <b>$100 of free cloud hosting</b> from the awesome folks at Amazon Web Services, so <b>get there early!</b></h1>

        <a href="" class="logo">
          <img src="/images/logos/aws.png" alt="Amazon Web Services">
        </a>

      </div>

</div>

<div class="row criteria">

  <div class="container">

    <h1 class="section-head">Judging &amp; how to win</h1>
    <h2 class="section-subhead">You can design, sketch and conceptualise beforehand, but all code must be fresh. Your team must be a maximum of 5 people. You will have full ownership &amp; IP of whatever you build. Choose a good problem to solve. Have fun!</h2>


    <h4>What the judges are looking for</h4>

    <div class="progress-bar">

      <div class="percent problem">
        <p>Problem <span>20%</span></p>
      </div>

      <div class="percent solution">
        <p>Solution <span>40%</span></p>
      </div>
      <div class="percent market">
        <p>Marketability  <span>20%</span></p>
      </div>
      <div class="percent surprise">
        <p>Surprise Factor  <span>20%</span></p>
      </div>

    </div>

  </div>

</div>

<div class="row people">

  <div class="container">

    <h1 class="section-head">Our awesome judges</h1>

    <ul class="judges">

      <li class="judge">
        <article>
          <img src="/images/guests/judges/rob-bishop.jpg" alt="Rob Bishop">
          <h1>Rob <br/>Bishop</h1>
          <p>Raspberry Pi Foundation<br></p>
        </article>
      </li>

       <li class="judge">
        <article>
          <img src="/images/guests/judges/elena.jpg" alt="Elena Strouthos">
          <h1>Elena <br/>Strouthos</h1>
          <p>Co-founder of Cocoon Creations</p>
        </article>
      </li>

       <li class="judge">
        <article>
          <img src="/images/guests/judges/valanto.jpg" alt="Valanto Kousetti">
          <h1>Valanto<br/> Kousetti</h1>
          <p>Team Leader at SOFTimpact<br></p>
        </article>
      </li>

      <li class="judge">
        <article>
          <img src="/images/guests/judges/demetrios.jpg" alt="Demetrios Zeinalipour-Yatzi">
          <h1>Demetrios Zeinalipour-Yatzi</h1>
          <p>Assistant Prof. of Computer Science, University of Cyprus</p>
        </article>
      </li>

      <li class="judge">
        <article>
          <img src="/images/guests/judges/conno.jpg" alt="Conno Christou">
          <h1>Conno Christou</h1>
          <p>Co-founder of Avocarrot</p>
        </article>
      </li>

      <li class="judge">
        <article>
          <img src="/images/guests/judges/phanos.jpg" alt="Phanos Pitiris">
          <h1>Phanos<br/> Pitiris</h1>
          <p>Investor, Entrepreneur<br><br></p>
        </article>
      </li>

      <li class="judge">
        <article>
          <img src="/images/guests/judges/nearchos.jpg" alt="Nearchos Paspallis">
          <h1>Nearchos<br/> Paspallis</h1>
          <p>CCS, Lecturer in Computing, UCLan</p>
        </article>
      </li>

      <li class="judge">
        <article>
          <img src="/images/guests/judges/theo.jpg" alt="Dr. Theo Panayiotou">
          <h1>Dr. Theo<br/> Panayiotou</h1>
          <p>Director of CIIM</p>
        </article>
      </li>

      <li class="judge" style="float:none">
        <article>
          <img src="/images/volunteers/christis.jpg" alt="Christis Plastiras">
          <h1>Christis<br/> Plastiras</h1>
          <p> Business Development Manager of CIIM</p>
        </article>
      </li>

    </ul>

  </div>

</div>

<div class="row schedule">

  <div class="container">

  <ol>
    <h2>Day 1: Friday</h2>
    <li>
      <p><span>9:00 - 10:00:</span> Registration, Breakfast</p>
    </li>
    <li>
      <p><span>10:00 - 11:00:</span> Introductions, Sponsors, Platforms</p>
    </li>
    <li>
      <p><span>11:00 - 12:00:</span> Team formation, Start hacking</p>
    </li>
    <li>
      <p><span>13:00:</span> Lunch</p>
    </li>
    <li>
      <p><span>20:00:</span> Dinner, Hacking continues overnight</p>
    </li>
  </ol>

  <ol>
    <h2>Day 2: Saturday</h2>

    <li>
      <p><span>09:00:</span> Breakfast</p></li>
    <li>
      <p><span>13:00:</span> Lunch</p></li>
    <li>
      <p><span>16:00:</span> Prepare presentations</p></li>
    <li>
      <p><span>16:30:</span> Presentations &amp; Judging</p></li>
    <li>
      <p><span>18:00:</span> Winners announced, beers!</p></li>
  </ol>


</div>

</div>

<!-- <div class="row api-partners">

  <div class="container">

    <h1 class="section-head">API partners</h1>
    <h2 class="section-subhead">These great companies will be making their APIs available during the hackathon for you to use in your projects. They will also be providing mentorship and help!</h2>

    <ul class="supporters">

      <li class="partner-logo big">

        <a href="http://developer.yahoo.com/" target="_blank">
          <img src="/images/logos/yahoo.png" alt="Yahoo">
        </a>

      </li>

      <li class="partner-logo big">

        <a href="http://aws.amazon.com/" target="_blank">
          <img src="/images/logos/aws-b.png" alt="AWS">
        </a>

      </li>
    </ul>

  </div>

</div> -->

<div class="row venue">
  <iframe width='100%' height='350' frameBorder='0' src='http://a.tiles.mapbox.com/v3/alexmic.map-lntm2vxr.html#16/35.145310115999365/33.409541845321655'></iframe>

  <div class="panel">
    <h4>Venue</h4>
    <h1>Computer Science Department</h1>
    <p>University of Cyprus</p>
    <p>Panepistimiou, Aglantzia</p>
    <p>Nicosia</p>
    <p>Cyprus</p>

    <div class="detail">
      <a href="http://cs.ucy.ac.cy/">Website</a>
    </div>
    <div class="detail">
      <a href="tel:0035722892700">+357 22 892700</a>
    </div>
  </div>

</div>

<div class="row panorama" id="">
  <div class="container">
    <blockquote>
      "A unique experience to network with other programmers, work together and exchange ideas"
      <span>
        Rodotheos Christou, 2012 Attendee <br><a href="http://pomeware.com" target="_blank">http://pomeware.com</a>
      </span>
    </blockquote>
  </div>

</div>

{% include big-supporters.html %}

<div class="row supporters extra">

  <div class="container">

    <h4>Hosted By</h4>

    <ul class="tera">

      <li class="supporter-logo medium">

        <a href="http://www.cs.ucy.ac.cy/" target="_blank">
          <img src="/images/logos/ucy.png" alt="Computer Science, University of Cyprus">
        </a>

      </li>
    </ul>

  </div>

</div>

<div class="row supporters extra">

  <div class="container">

    <h4>Hacking wings provided by</h4>

    <ul class="tera">

      <li class="supporter-logo medium">

        <a href="http://www.facebook.com/redbull" target="_blank">
          <img src="/images/logos/redbull.png" alt="Red Bull">
        </a>

      </li>
    </ul>

  </div>

</div>

