---
layout: home
title:
permalink: /hackathon/
---

<div class="opening">

  <div class="container">

    <h1>Hackathon</h1>
    <h2>The first 2-day hackathon in Cyprus</br> just got bigger and funner.</h2>

    {% include ticket-btn.html %}

  </div>

</div>

<div class="basic-deets">
  <div class="container">
    <div class="date"><p>Friday Sept 6h – Saturday Sept 7th</p></div>
    <div class="venue"><p>The University of Cyprus</p></div>
    <div class="price"><p><a href="/tickets">Free, but ticketed</a></p></div>
  </div>
</div>


<div class="row intro">

   <div class="container">

    <h2 class="section-subhead">Join 80+ creative developers, designers and ideators for 30 hours of hacking, designing, tinkering and general making of awesome things – web, mobile, hardware, anything goes. You can come with a team or find a team on the day. The winners will get great prizes and the chance to present their projects at Insights, in front of an eclectic and international audience.</h2>

  </div>

</div>


<div class="row prizes">

   <div class="container">



    <h1 class="section-head">The awesome prizes</h1>


      <div class="prize grand">

      <img  class="animated shake" src="/images/overlords.jpg" width="640">

        <h4>The Grand Prize</h4>
        <h1>2x Parrot AR Drones</h1>
        <p>Sponsored by SOFTImpact</p>
      </div>
      <ul>
      <li class="prize">
        <h4>Best hardware</h4>
        <h1>5x Rasberry Pis</h1>
        <p>Sponsored by CCS</p>
      </li>

      <li class="prize">
        <h4> Best mobile</h4>
        <h1>3-month mentorship</h1>
        <p>Sponsored by Cocoon Creations</p>
      </li>

    </ul>

  </div>

</div>


<div class="row cloudz">
  <div class="container">

        <h1>The first <b>100 people</b> to arrive on the day will each get <b>$100 of free cloud hosting</b> from the awesome folks at Amazon Web Services, so <b>get there early!</b></h1>

        <a href="" class="logo">
          <img src="/images/logos/aws.png" alt="Amazon Web Services">
        </a>

      </div>

</div>

<div class="row criteria">

  <div class="container">

    <h1 class="section-head">Judging &amp; how to win</h1>
    <h2 class="section-subhead">You can design, sketch and conceptualise beforehand, but all code must be fresh. Maximum of 5 people per team. Teams have full ownership of whatever they build. Choose a good problem to solve. Have fun!</h2>


    <h4>What the judges are looking for</h4>

    <div class="progress-bar">

      <div class="percent problem">
        <p>Problem <span>20%</span></p>
      </div>

      <div class="percent solution">
        <p>Solution <span>40%</span></p>
      </div>
      <div class="percent market">
        <p>Marketability  <span>20%</span></p>
      </div>
      <div class="percent surprise">
        <p>Surprise Factor  <span>20%</span></p>
      </div>

    </div>

  </div>

</div>

<div class="row judges">

  <div class="container">

    <h1 class="section-head">Our awesome judges</h1>

    <ul>

      <li class="judge">
        <article>
          <img src="/images/guests/judges/rob-bishop.jpg" alt="Rob Bishop">
          <h1>Rob <br/>Bishop</h1>
          <p>Raspberry Pi Foundation</p>
        </article>
      </li>

       <li class="judge">
        <article>
          <img src="/images/guests/judges/elena.jpg" alt="Elena Strouthos">
          <h1>Elena <br/>Strouthos</h1>
          <p>Co-founder of Cocoon Creations</p>
        </article>
      </li>

       <li class="judge">
        <article>
          <img src="/images/guests/judges/valanto.jpg" alt="Valanto Kousetti">
          <h1>Valanto<br/> Kousetti</h1>
          <p>Team Leader at SOFTimpact</p>
        </article>
      </li>

       <li class="judge">
        <article>
          <img src="/images/guests/judges/demetrios.jpg" alt="Demetrios Zeinalipour-Yatzi">
          <h1>Demetrios Zeinalipour-Yatzi</h1>
          <p>Assistant Prof. of Computer Science, University of Cyprus</p>
        </article>
      </li>

    </ul>

  </div>

</div>

<div class="row schedule">

  <div class="container">

  <ol>
    <h2>Day 1: Friday</h2>
    <li>
      <p><span>9:00 - 10:00:</span> Registration, Breakfast</p>
    </li>
    <li>
      <p><span>10:00 - 11:00:</span> Introductions, Sponsors, Platforms</p>
    </li>
    <li>
      <p><span>11:00 - 12:00:</span> Team formation, Start hacking</p>
    </li>
    <li>
      <p><span>13:00:</span> Lunch</p>
    </li>
    <li>
      <p><span>20:00:</span> Dinner, Hacking continues overnight</p>
    </li>
  </ol>

  <ol>
    <h2>Day 2: Saturday</h2>

    <li>
      <p><span>09:00:</span> Breakfast</p></li>
    <li>
      <p><span>13:00:</span> Lunch</p></li>
    <li>
      <p><span>16:00:</span> Prepare presentations</p></li>
    <li>
      <p><span>16:30:</span> Presentations &amp; Judging</p></li>
    <li>
      <p><span>18:00:</span> Winners announced, beers!</p></li>
  </ol>


</div>

</div>


<div class="row venue hackathon">
  <iframe width='100%' height='350' frameBorder='0' src='http://a.tiles.mapbox.com/v3/orourkedesign.map-any7f3ms.html#17/35.16009875449434/33.3757084608078'></iframe>


  <div class="panel">
    <h4>The venue</h4>
    <h1>The University of Cyprus</h1>
    <p>Kallipoleos 75,</p>
    <p>Nicosia 1678,</p>
    <p>Cyprus</p>

    <a href="www.ucy.ac.cy/‎">ucy.ac.cy</a>
    <a href="tel:0035722894000">+357 22 894000</a>
  </div>

</div>



<!-- TODO Add these -->
<!-- <div class="row apis">

  <div class="container">

    <h1>API Partners</h1>

    indoo.rs: get description from website

    working to get another 2-3.


  </div>

</div> -->


{% include partners.html %}


<div class="row panorama" id="">
  <div class="container">
    <blockquote>
      "A unique experience to network with other programmers, work together and exchange ideas"
      <span>
  Rodotheos Christou, 2012 Attendee</span>
    </blockquote>
  </div?

</div>
