a {
  color: @secondary;
  border-bottom: 1px dotted @secondary;
  text-decoration: none;
}

.btn {
  display: block;
  // text-transform: uppercase;
  .sans;
  font-weight: 600;
  text-decoration: none;
  color: @mono;
  padding: 1em 0;
  text-align: center;
  position: relative;
  // letter-spacing: 1px;
  background: @mono-20;
  border-bottom: 0;
  z-index: 2;
  .border-radius(2px);


  &.primary {
    background: @primary;
    color: @primary-20;
    &:hover {
      color: @mono;
    }
  }

  &.secondary {
    background: @secondary-60;
    color: #fff;

  }

  &.mono {
    background: @mono;
    color: @mono-20;
  }

  &.inverse {
    &:after {
      border-color: @mono;
    }
    &:hover {
      color: #ffffff;
    }
  }

}