.container {
  width: 60em;
  margin: 0 auto;
  .clearfix;
}

.row {
  padding: 2em 0;
  &.insights,
  &.hackathon {
    border-bottom: 1px dashed @mono-20;
  }
}

.code-school,
.junior-hackathon {
  padding: 4em 0;
}

.code-school {
  background-color: #b9ecec;
  background-image: url(/images/robot-1.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  h2 {
    color: @secondary-80;
  }
}

.junior-hackathon {
  background-image: url(/images/robot-2.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

#footer {
  background: @mono;
  ul {
    .clearfix;
  }
  li {
    float: left;
    width:20%;
    a {
      display: block;
      text-align: center;
      border: 0;
      color: @secondary-60;
      padding: 2em 1em;
  }
  }

  p {
    text-align: center;
    margin-top: 1em;
    color: @mono-80;
  }

}
