<!-- Info modal -->
<div id="junior-eb" class="modal hide fade">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h1>Learn more about the <b>Youth Day</b></h1>
    We haven't finalized the details for the Youth Day still. If you are interested in participating or learning more
    about it, send an email to <a href="mailto:alex@projectcel.com">alex@projectcel.com</a>.
  </div>
</div>  

<div id="hackathon-eb" class="modal hide fade">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h1>Get your <b>Hackathon</b> tickets</h1>
    <iframe  src="http://www.eventbrite.com/tickets-external?eid=6794244769&ref=etckt&v=2" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
  </div>
</div>

<div id="insights-eb" class="modal hide fade">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h1>Get your <b>Insights</b> tickets</h1>
    <iframe  src="http://www.eventbrite.com/tickets-external?eid=6794427315&ref=etckt&v=2" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
  </div>
</div>
