
  <div id="junior-eb" class="modal hide fade">
    
    <div class="modal-body">
      
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

      <h1>Get your <b>Youth Day</b> tickets</h1>

      <iframe  src="http://www.eventbrite.co.uk/tickets-external?eid=6666809607&ref=etckt&v=2" frameborder="0" height="160" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>

    </div>

  </div>  



  <div id="insights-eb" class="modal hide fade">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h1>Get your <b>Insights</b> tickets</h1>
      <iframe  src="http://www.eventbrite.co.uk/tickets-external?eid=6666809607&ref=etckt&v=2" frameborder="0" height="160" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
    </div>
  </div>  