<article class="slide" id="hackathon">
  <div class="container">
    <div class="content">
      <h1>H4ck4th0n</h1>
      <h2> Friday &mdash; Saturday, 6th &mdash; 7th</h2>
      <p>
        Your favourite hackathon is back. Join 80+ creative developers, designers and ideators for 30 hours of hacking on awesome things – web, mobile, hardware, anything goes. You can come with a team or find a team on the day. The winners will get great prizes and the chance to present their projects at Insights, in front of an eclectic audience. We're also planning a surprise for this year, so stay tuned! 
      </p>

      <button data-target="#hackathon-eb" role="button" class="btn primary" data-toggle="modal"><span>Get free tickets</span></button>

    </div>
  </div>

  <!-- Evenbrite modal -->

  <div id="hackathon-eb" class="modal hide fade">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h1>Get your <b>Hackathon</b> tickets</h1>
      <iframe  src="http://www.eventbrite.co.uk/tickets-external?eid=6666809607&ref=etckt&v=2" frameborder="0" height="160" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
    </div>
  </div>  



  <a href="#junior" class="prev">&#11014;</a>
  <a href="#insights" class="next">&#11015;</a>
</article>