<article class="slide" id="insights">
  <div class="container">
    <div class="content">
      <h1>Insights</h1>
      <h2>Sunday, September 8th</h2>
      <p>
        We have invited a stellar lineup of companies and industry leaders from Cyprus, Greece and the UK to share their experiences, successes and failures in starting and growing technology startups, building teams and raising capital. Spanning from 10:00 until 16:00, the Insights conference will feature an array of talks, presentations and workshops, sure to inspire, energise and educate you.
      </p>


      <button data-target="#insights-eb" role="button" class="btn secondary inverse" data-toggle="modal"><span>Get Insights tickets</span></button>

    </div>
  </div>

<a href="#hackathon" class="prev">&#11014;</a>
  <a href="#supporters" class="next">&#11015;</a>
</article>