<article class="slide" id="insights">
  <div class="container">
    <div class="content">
      <h1>Insights</h1>
      <h2>Sunday, September 8th</h2>
      <p>
        Whether you are a developer, designer, entrepreneur, marketeer or just plain curious, Insights will have something for you. We have invited a stellar lineup of speakers from Cyprus, Greece and the UK to share their experiences, successes and failures in starting and growing technology startups, building teams and raising capital. Spanning from 10:00 until 16:00, the event will feature an array of talks, presentations and panels, sure to inspire, energise and educate you. 
      </p>
      

      <button data-target="#insights-eb" role="button" class="btn secondary inverse" data-toggle="modal"><span>free tickets</span></button>

    </div>
  </div>

  <!-- Evenbrite modal -->

  <div id="insights-eb" class="modal hide fade">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h1>Get your <b>Insights</b> tickets</h1>
      <iframe  src="http://www.eventbrite.co.uk/tickets-external?eid=6666809607&ref=etckt&v=2" frameborder="0" height="160" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
    </div>
  </div>  
<a href="#hackathon" class="prev">&#11014;</a>
  <a href="#supporters" class="next">&#11015;</a>
</article>