<article class="slide centered" id="intro">
  <div class="container">
    <div class="big-un">
    <img src="/images/header-bg.jpg" class="full-bleed">
    </div>
    <div class="content">
      <div id="word-art">
        <span id="time">it's Time to Restart</span>
        <h1 id="hack">Let's <span>Hack!</span></h1>
        <span id="date">Cyprus, Sept 5 &mdash; 8</span>
      </div>
      <a href="#manifesto" class="btn primary"><span>Find out more</span></a>
    </div>
  </div>
  <a href="#manifesto" class="next">&#11015;</a>
</article>