<article class="slide centered" id="intro">

  <div class="container">

    <div class="content">

      <div id="word-art">
        <span id="time">3 Events, 4 Days</span>
        <h1 id="hack">Let's <span>Hack!</span></h1>
        <span id="date">Cyprus, Sept 5 &mdash; 8</span>
      </div>

      <a href="#manifesto" class="btn primary"><span>Find out more</span></a>

      <div class="social">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="hackcyprus">Tweet</a>
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="105" data-show-faces="false" data-font="segoe ui"></div>
      </div>

    </div>

  </div>

  <a href="#manifesto" class="next">&#11015;</a>



</article>