<article class="slide centered" id="intro">

  <div class="container">

    <div class="content">

      <div id="word-art">
        <h1 id="hack">Let's <span>Hack!</span></h1>
        <span id="time">3 Events, 4 Days &middot; Cyprus, Sept 5 &mdash; 8</span>
      </div>

      <div id="mc_embed_signup">
        <form action="http://projectcel.us4.list-manage.com/subscribe/post-json?u=a47571155a9634f711aee43df&id=f1e1dc58c5" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="clearfix validate" target="_blank" novalidate>

          <span>Don't miss any updates, subscribe now!</span>

          <div class="mc-field-group clearfix">
            <input placeholder="Add your email address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn secondary">
          </div>

        </form>

      </div>
<!--       <a href="#manifesto" class="btn primary"><span>Find out more</span></a>
 -->
<!--       <div class="social">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="4 days of hacking awesomeness! 5-8 Sept 2013, Cyprus #startups #hackathon #cyprus #hackcyprus2013" data-via="hackcyprus">Tweet</a>
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="105" data-show-faces="false" data-font="segoe ui"></div>
      </div>
 -->
    </div>

  </div>

  <a href="#manifesto" class="next">
    <span>&#11015;</span>
  </a>



</article>