<nav id="site-nav" class="nav">
  
  <div class="container">
    
    <a href="#intro" id="logo"><h1>h{<b>c</b>}</h1></a>

    <ul class="left-nav">
      <li><a href="#manifesto" class="selected">
        <span>The h{c}</span><br/>Manifesto</a></li>
      <li><a href="#junior"><span>Day 1:</span><br/> Youth Day</a></li>
      <li><a href="#hackathon"><span>Day 2-3:</span><br/>  Hackathon</a></li>
    </ul>

    <ul class="right-nav">
      <li><a href="#insights"><span>Day 4:</span> <br/> Insights</a></li>
      <li><a href="#supporters"><span>Our</span> <br/> Supporters</a></li>
      <li><a href="#team"><span>The</span> <br/>h{c} Team</a></li>
    </ul>
  
  </div>

</nav>