<nav id="site-nav" class="nav">
  
  <div class="container">
    
    <a href="#intro" id="logo"><h1>h{<b>c</b>}</h1></a>

    <ul class="left-nav">
      <li><a href="#manifesto" class="selected">Manifesto</a></li>
      <li><a href="#junior">Youth Day</a></li>
      <li><a href="#hackathon">Hackathon</a></li>
    </ul>

    <ul class="right-nav">
      <li><a href="#insights">Insights</a></li>
      <li><a href="#supporters">Our Supporters</a></li>
      <li><a href="#team">The Team</a></li>
    </ul>
  
  </div>

</nav>