<div id="slick-share">
  <div id="reveal">
    <span>&#10084;</span>
  </div>
  <div id="networks">
    <div id="ss-twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="4 days of hacking awesomeness! 5-8 Sept 2013, Cyprus #startups #hackathon #cyprus #hackcyprus2013" data-via="hackcyprus">Tweet</a>
    </div>
    <div id="ss-facebook">
      <div class="fb-like" data-send="false" data-layout="button_count" data-width="105" data-show-faces="false" data-font="segoe ui"></div>
    </div>

  </div>
</div>