<article class="centered" id="supporters">
  <div class="container">
    <div class="content">
      
      <h1>Supporters</h1>

      <ul id="logos-large">

        <h2>Tera</h2>

        <li class="supporter">
          <a href="">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="">&nbsp;</a>
        </li>

      </ul>

      <ul id="logos-medium">

        <h2>Giga</h2>

        <li class="supporter">
          <a href="">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="">&nbsp;</a>
        </li>

      </ul>

      <ul id="logos-small">

        <h2>Mega</h2>

        <li class="supporter">
          <a href="">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="">&nbsp;</a>
        </li>

      </ul>

      <p>Interested in becoming a sponsor? <a href=""><span>Download our sponsor pack.</span></a></p>

    </div>
  </div>
</article>