<article class="centered" id="supporters">
  <div class="container">
    <div class="content">
      
      <h1>Supporters</h1>

      <ul id="tera">

        <h2>Tera</h2>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

      </ul>

      <ul id="giga">

        <h2>Giga</h2>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

      </ul>

      <ul id="mega">

        <h2>Mega</h2>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

      </ul>

       <ul id="kilo">

        <h2>Kilo</h2>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

        <li class="supporter">
          <a href="mailto:ho@alexmic.net">&nbsp;</a>
        </li>

      </ul>

      <p>Interested in becoming a hack{cyprus} supporter? <a href="mailto:ho@alexmic.net"><span>Get in touch.</span></a></p>

    </div>
  </div>
  <a href="#insights" class="prev">&#11014;</a>
  <a href="#team" class="next">&#11015;</a>
</article>

