<article class="centered" id="supporters">
  <div class="container">
    <div class="content">

      <h1>Supporters</h1>

      <p>The event is curated by us, but driven by everyone. We like to make things that people actually enjoy, and we've established a reputation as technology pioneers in Cyprus.</p>

      <p>Associating your brand with Hack Cyprus will help you create strong brand awareness in the region and give you the opportunity to meet and network with talented, well-educated individuals. You will be one of the first supporters of our efforts to restart the island after its financial collapse early this year, and turn it into a flourishing technology ecosystem.</p>

      <p>If any of the above sounds great to you, or if you just want to sponsor a new and exciting event, then <a href="mailto:alex@projectcel.com">get in touch.</a></p>

      <p>

    </div>
  </div>
  <a href="#insights" class="prev">&#11014;</a>
  <a href="#team" class="next">&#11015;</a>
</article>

