<article class="centered" id="team">
  <div class="container">
    <div class="content">
      
      <h1>Meet the team</h1>

      <ul id="people">

        <li>
          <article class="person">
            <img src="/images/george-e.png">
            <h1>George<br/> Eracleous</h1>

            <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A4000%2F&region=follow_link&screen_name=geracleous&tw_p=followbutton&variant=2.0" class="btn secondary">@geracleous</a>
          </article>
        </li>

        <li>
          <article class="person">
            <img src="/images/george-m.png">
            <h1>George<br/> Makkoulis</h1>

            <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A4000%2F&region=follow_link&screen_name=gmakkoulis&tw_p=followbutton&variant=2.0" class="btn secondary">@gmakkoulis</a>
          </article>
        </li>

        <li>
          <article class="person">
            <img src="/images/alex-m.png">
            <h1>Alexis<br/> Michael</h1>
           
            <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A4000%2F&region=follow_link&screen_name=alexismic&tw_p=followbutton&variant=2.0" class="btn secondary">@alexismic</a>
          </article>
        </li>

        <li>
          <article class="person">
            <img src="/images/gearoid.png">
            <h1>Gearóid<br/> O'Rourke</h1>

            <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A4000%2F&region=follow_link&screen_name=orourkedesign&tw_p=followbutton&variant=2.0" class="btn secondary">@orourkedesign</a>
          </article>
        </li>

        <li>
          <article class="person">
            <img src="/images/gearoid.png">
            <h1>Gearóid<br/> O'Rourke</h1>

            <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A4000%2F&region=follow_link&screen_name=orourkedesign&tw_p=followbutton&variant=2.0" class="btn secondary">@orourkedesign</a>
          </article>
        </li>

        <li>
          <article class="person">
            <img src="/images/gearoid.png">
            <h1>Gearóid<br/> O'Rourke</h1>

            <a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A4000%2F&region=follow_link&screen_name=orourkedesign&tw_p=followbutton&variant=2.0" class="btn secondary">@orourkedesign</a>
          </article>
        </li>
      </ul>

    </div>
  </div>
  <a href="#supporters" class="prev">&#11014;</a>
</article>
