<div class="row supporters">

  <div class="container">

    <h4>Powered by</h4>

    <ul class="tera">

      <li class="supporter-logo big">

        <a href="http://cyta.com.cy" target="_blank">
          <img src="/images/logos/cyta-border.png" alt="CYTA">
        </a>

      </li>
    </ul>

    <h4>Supported by</h4>

    <ul>

      <li class="supporter-logo big">

        <a href="http://developer.yahoo.com/" target="_blank">
          <img src="/images/logos/yahoo.png" alt="Yahoo">
        </a>

      </li>

      <li class="supporter-logo big">

        <a href="http://aws.amazon.com/" target="_blank">
          <img src="/images/logos/aws-b.png" alt="AWS">
        </a>

      </li>

    </ul>

  </div>

</div>