
{% include partners.html %}
<footer id="footer">
  <div class="container">
    <ul>
      <li>
        <a href="/youth-day/">Youth Day</a>
      </li>
      <li>
        <a href="/hackathon/">Hackathon</a>
      </li>
      <li>
        <a href="/insights/">Insights</a>
      </li>
      <li>
        <a href="/team/">Team</a>
        </li>
      <li>
        <a href="/supporters/">Supporters</a>
      </li>
    </ul>
    <h2>A BRAINCHILD OF</h2>
    <a href="http://projectcel.com" target="_blank">
      <img src="/images/cel.png" />
    </a>
  </div>
</footer>
