<nav id="site-nav" class="nav">

  <div class="container">

    <a href="/" id="logo">
      <h1>hack{<b>cyprus</b>}</h1>
    </a>

    <ul class="left-nav">
      <li><a href="/youth-day/"><span>Day 1</span><br/> Youth Day</a></li>
      <li><a href="/hackathon/"><span>Day 2-3</span><br/> Hackathon</a></li>
      <li><a href="/insights/"><span>Day 4: </span><br/> Insights</a></li>
    </ul>

    <ul class="right-nav">
      <li><a href="/supporters/"><span>Our</span> <br/>Supporters</a></li>
      <li><a href="/about/"><span>Learn</span> <br/>Our story</a></li>
      <li><a href="/tickets/" class="tickets"><span>Get</span><br/>Tickets</a></li>
    </ul>

  </div>

</nav>
