<nav id="site-nav" class="nav">

  <div class="container">

    <a href="/" id="logo">
      <h1>hack{<b>cyprus</b>}</h1>
    </a>

    <ul class="left-nav">
      <li><a href="/youth-day/">Youth Day</a></li>
      <li><a href="/hackathon/">Hackathon</a></li>
      <li><a href="/insights/">Insights</a></li>
    </ul>

    <ul class="right-nav">
      <li><a href="/about/">About</a></li>
      <li><a href="/supporters/">Supporters</a></li>
      <li><a href="/tickets/" class="tickets">Get tickets</a></li>
    </ul>

  </div>

</nav>
