<div class="row partners">

  <div class="container">

    <h4>Our supporters</h4>

    <ul class="supporters">

      <li class="partner-logo big">

        <a href="http://developer.yahoo.com/" target="_blank">
          <img src="/images/logos/yahoo.png" alt="Yahoo">
        </a>

      </li>

      <li class="partner-logo big">

        <a href="http://aws.amazon.com/" target="_blank">
          <img src="/images/logos/aws-b.png" alt="AWS">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="https://ccs.org.cy/" target="_blank">
          <img src="/images/logos/ccs.png" alt="CCS">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="http://www.cocooncreations.net/" target="_blank">
          <img src="/images/logos/cocoon.png" alt="Cocoon Creations">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="http://www.ecdl.com.cy/" target="_blank">
          <img src="/images/logos/ecdl.png" alt="EDCL">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="http://www.datatech.com.cy/" target="_blank">
          <img src="/images/logos/datatech.png" alt="Datatech">
        </a>

      </li>

       <li class="partner-logo small">

        <a href="http://onefinestay.com/" target="_blank">
          <img src="/images/logos/onefinestay.png" alt="onefinestay">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="http://www.soft-impact.com/" target="_blank">
          <img src="/images/logos/soft-impact.png" alt="SOFTImpact">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="http://www.peopleperhour.com/" target="_blank">
          <img src="/images/logos/pph.png" alt="peopleperhour">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="http://ucy.ac.cy/" target="_blank">
          <img src="/images/logos/ucy.png" alt="ucy">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="http://www.engino.com/" target="_blank">
          <img src="/images/logos/engino.png" alt="Engino">
        </a>

      </li>
      <li class="partner-logo small">

        <a>
          <img src="/images/logos/neoconsult.png" alt="Neoconsult">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="https://www.hellasdirect.gr/" target="_blank">
          <img src="/images/logos/hellas-direct.png" alt="Hellas Direct">
        </a>

      </li>
      <li class="partner-logo small">

        <a href="http://www.ciim.ac.cy/" target="_blank">
          <img src="/images/logos/ciim.png" alt="CIIM">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="https://www.facebook.com/malochicolife" target="_blank">
          <img src="/images/logos/malochico-life.png" alt="Malochico Life">
        </a>

      </li>

      <li class="partner-logo small no-img">
        <h4>PERSONAL CONTRIBUTION</h4>
        <h3>Cleopatra Kitti</h3>
      </li>

      <li class="partner-logo small">

        <a href="http://www.kemanes.com.cy/" target="_blank">
          <img src="/images/logos/kemanes.png" alt="Kemanes Print Shop">
        </a>

      </li>

    </ul>

    <h4>Media partners</h4>

    <ul class="media-partners">
      <li class="partner-logo small">

        <a href="http://www.jppmarketing.com/" target="_blank">
          <img src="/images/logos/jpp.png" alt="JPP Marketing">
        </a>

      </li>
      <li class="partner-logo small">

        <a href="http://www.heartcyprus.com/" target="_blank">
          <img src="/images/logos/heart.png" alt="Heart Cyprus">
        </a>

      </li>
      <li class="partner-logo small">

        <a href="http://deskand.co/" target="_blank">
          <img src="/images/logos/deskandco.png" alt="Deskandco">
        </a>

      </li>
      <li class="partner-logo small">

        <a href="http://www.ergodotisi.com/" target="_blank">
          <img src="/images/logos/ergodotisi.png" alt="Ergodotisi.com">
        </a>

      </li>
      <li class="partner-logo small">

        <a href="http://www.emea.gr/" target="_blank">
          <img src="/images/logos/emea.png" alt="EMEA">
        </a>

      </li>
      <li class="partner-logo small">

        <a href="http://www.promotiondm.com/" target="_blank">
          <img src="/images/logos/promotion.png" alt="Pro Motion">
        </a>

      </li>
      <li class="partner-logo small">

        <a href="http://www.infinitysocialmedia.com/" target="_blank">
          <img src="/images/logos/infinity.png" alt="Infinity Social Media">
        </a>

      </li>
    </ul>

  </div>

</div>
