<div class="row partners" id="partners">

  <div class="container">

    <h4>Our supporters</h4>

    <ul>

      <li class="partner-logo big">

        <a href="" target="_blank">
          <img src="/images/logos/yahoo.png" alt="Yahoo">
        </a>

      </li>

      <li class="partner-logo big">

        <a href="" target="_blank">
          <img src="/images/logos/aws-b.png" alt="AWS">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="" target="_blank">
          <img src="/images/logos/ccs.png" alt="CCS">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="" target="_blank">
          <img src="/images/logos/cocoon.png" alt="Cocoon">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="" target="_blank">
          <img src="/images/logos/ecdl.png" alt="EDCL">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="" target="_blank">
          <img src="/images/logos/indoors.png" alt="indoors">
        </a>

      </li>

       <li class="partner-logo small">

        <a href="" target="_blank">
          <img src="/images/logos/onefinestay.png" alt="onefinestay">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="" target="_blank">
          <img src="/images/logos/soft-impact.png" alt="Partner name">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="" target="_blank">
          <img src="/images/logos/pph.png" alt="peopleperhour">
        </a>

      </li>

      <li class="partner-logo small">

        <a href="" target="_blank">
          <img src="/images/logos/ucy.png" alt="ucy">
        </a>

      </li>

    </ul>

    <h4>Media partners</h4>

    <ul>
      <li class="partner-logo small">

        <a href="" target="_blank">
          <img src="/images/logos/jpp.png" alt="Jpp">
        </a>

      </li>
      <li class="partner-logo small">

        <a href="" target="_blank">
          <img src="/images/logos/heart.png" alt="Heart">
        </a>

      </li>
    </ul>

  </div>

</div>
