<div class="row partners" id="partners">

  <div class="container">

    <h2>Our supporters</h2>

    <ul>

      <li class="partner-logo">

        <a href="" target="_blank">
          <img src="" alt="Partner name">
        </a>

      </li>

      <li class="partner-logo">

        <a href="" target="_blank">
          <img src="" alt="Partner name">
        </a>

      </li>

      <li class="partner-logo">

        <a href="" target="_blank">
          <img src="" alt="Partner name">
        </a>

      </li>

      <li class="partner-logo">

        <a href="" target="_blank">
          <img src="" alt="Partner name">
        </a>

      </li>
       <li class="partner-logo">

        <a href="" target="_blank">
          <img src="" alt="Partner name">
        </a>

      </li>
       <li class="partner-logo">

        <a href="" target="_blank">
          <img src="" alt="Partner name">
        </a>

      </li>

    </ul>

  </div>

</div>