<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>hack{cyprus} 2013</title>
    <meta name="description" content="">

    <script type="text/javascript" src="//use.typekit.net/bie6xni.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>

    <link rel="stylesheet" href="/css/hackcyprus-2013.css">

  </head>

  <body>
    {% include _nav.html %}

    {{content}}

    {% include _footer.html%}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    
    <script src="/js/vendor/bootstrap-modal.js"></script>
    <script src="/js/vendor/bootstrap-scrollspy.js"></script>
    <script src="/js/vendor/irish-smartresize.js"></script>

    <script src="/js/main.js"></script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  </body>
</html>