<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>hack{cyprus} 2013</title>
    <meta name="description" content="4 days of hacking awesomeness in September 2013. Amazing startups, eclectic speakers, prizes, workshops, projects, pizzas, we got it all. Get your tickets now."/>
    <meta property="fb:app_id" content="101469336666147" />
    <meta property="og:type" content="cause" />
    <meta property="og:url" content="http://2013.hackcyprus.com" />
    <meta property="og:title" content="Hack Cyprus 2013" />
    <meta property="og:image" content="http://2013.hackcyprus.com/images/fb-thumb.png" />
    <meta property="og:description" content="4 days of hacking awesomeness in September 2013. Amazing startups, eclectic speakers, prizes, workshops, projects, pizzas, we got it all. Get your tickets now." />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hackcyprus">
    <meta name="twitter:creator" content="@hackcyprus">
    <meta name="twitter:title" content="hack{cyprus} 2013: 3 events, 4 days. Let's Hack!">
    <meta name="twitter:description" content="4 days of hacking awesomeness in September 2013. Amazing startups, eclectic speakers, prizes, workshops, projects, pizzas, we got it all. Get your tickets now.">
    <meta name="twitter:image" content="http://2013.hackcyprus.com/images/twitter-card.png">

    <link rel="stylesheet" href="/css/hackcyprus-2013.css"/>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33463163-3', 'hackcyprus.com');
      ga('send', 'pageview');

    </script>
  </head>

  <body data-spy="scroll" data-target="#site-nav">
    {% include _nav.html %}

    {{content}}

    {% include _footer.html %}


    {% include _share.html %}


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

    <script src="/js/vendor/irish-smartresize.js"></script>

    <script src="/js/main.js"></script>

    <script src="/js/vendor/bootstrap-modal.js"></script>
    <script src="/js/vendor/bootstrap-scrollspy.js"></script>

    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=101469336666147";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% include _eventbrite.html %}
  </body>
</html>
