.big-numbers {
  background: @primary ;
  padding-top: 4em;
  padding-bottom: 1em;

  dl {
    float: left;
    width: 33%;
  }

  dt {
    margin: 1em 4em 0 4em;
    .serif;
    border-bottom: 2px dotted @primary-60;
    text-align: center;

    span {
      font-size: 3.5em;
      font-weight: 800;
      letter-spacing: -1px;
      color:#fff;
    }
  }

  dd {
    padding: 1em 2em;
    text-align: center;
    margin: 0 2em 2em 2em;
    line-height: 1.3;
  }

}

