#intro {
  position: relative;
  overflow: hidden;
  background: @mono;
  background-image: url(/images/header-bg.jpg);
  background-size: cover;

  .social {
    height: 1em;
    margin-top: 2em;
  }

  .content {
    width: 100%;
  }

  .btn {
    width: 14em;
    color: @mono;
    padding: 1.25em 0;
  }
  
}