#intro {
  position: relative;
  overflow: hidden;
  background: @mono;
  background-image: url(/images/header-bg.jpg);
  background-size: cover;

  .content {
    width: 100%;
  }

  .btn {
    width: 10em;
    color: @mono;
    &:hover {
      color: #fff;
    }
  }
  
}