a#logo {
  text-transform: none;
  position: absolute;
  border: none;
  width: 12em;
  left: 50%;
  margin-left: -6em;
  display: block;
  top: 1.125em;
  padding: 0;
  text-align: center;
  .serif;
  &:hover {
    border: 0;
  }
  h1 {
    font-size: 3.25em;
    color: #fff;
    font-weight: 600;
    b {
      color: @primary;
    }
  }
}