#site-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  .clearfix;

  ul {
    .clearfix;
    width: 36%;

    &.left-nav {
      float: left;

    }

    &.right-nav {
      float: right;

    }

  }

  li {
    float: left;
    width: 33%;
  }

  li a {
    .sans;
    text-decoration: none;
    color: @mono-20;
    text-transform: uppercase;
    font-size: 0.75em;
    // border: 1px solid @mono;
    line-height: 1.1;
    border: 0;
    display: block;
    padding: 1.25em;
    text-align: center;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    // .border-radius(3px);
    span {
      color: @mono-60;
      font-weight: 500;
    }
    &.tickets {
      color: @secondary-40;
       &:hover {
        background: @secondary-40;
        color: @mono;
      span {
        color: #fff;
      }
    }
    }
    &:hover {
      background: @primary;
      color: @mono;
      span {
        color: #fff;
      }
    }



  }

}
