.opening {
  background-image: url(/images/header-bg.jpg);
  background-size: cover;
  padding: 10em 0 5em 0;

  h1 {
    text-align: center;
    .serif;
    color: @mono-20;
    font-size: 3.5em;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0.5em;
  }

  h2 {
    color: #fff;
    .serif;
    font-weight: 100;
    font-style: italic;
    font-size: 1.75em;
  }

  .tickets {
    width: 20em;
    margin: 3.5em auto 0 auto;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: normal;
    border: 1px solid @secondary-40;
  }

}
