.partners {
  background: @mono-20;
  .clearfix;
  padding: 4em 0;
}

.partner-logo {
  width:16.5%;
  float: left;

  a {
    margin: 1em;
    background:#fff;
    border: 0;
    display: block;
    img {
      display: block;
      width: 100%;
    }
  }
}
