.speakers {
  .clearfix;
  padding: 5em 0;

  ul {
    margin-top: 4em;
  }
  .speaker-bio{
    float: left;
    width: 25%;
  }
  .speaker{
    margin:1em 1em 1em 1em;
    border: 1px solid @mono-20;

    .inner{
      padding: 1em;
    }

    img{
      display: block;
      width: 100%;
      margin-bottom: 1em;
      border-radius: 100px;
    }
    h1{
      font-size: 1.25em;
      margin-bottom: 0.5em;
    }
    h2{
      color: @mono-80;
      margin-bottom: 1em;
      border-bottom: 4px solid @mono-20;
      padding: 0 0 1em 0;
      font-size: 0.875em;
    }
    p{
      font-size: 0.875em;
      margin-bottom: 0;
      line-height: 1.4;
    }
    a{
    }

  }
}
