#team {
  background: @primary;

  .next, .prev {
    color: @primary-60;
  }

  h1 {
      font-weight: 300;
  font-family: "deming";
  font-size: 1.875em;
margin-bottom: 2em;
letter-spacing: 1px;
color: @primary-40;
  }
  .content {
    width: 60em;
  }

  #people {
    .clearfix;
    margin-bottom: 4em;

    li {
      float: left;
      width: 20%;
      margin: 0 2.5%;

    }

    .person {
      border: 2px solid @primary-60;
      .border-radius(3px);
      padding: 1em;

      img {
        width: 100%;
      }
      h1 {
        font-size: 1.25em;
        font-weight: 600;
        color: @mono;
        .serif;
        text-transform: none;
        letter-spacing: normal;
      }
      p {
        font-style: italic;
        font-size: 0.875em;
        color: @mono-80;
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 2px dotted #fff;
      }
      a {
        font-size: 0.875em;
        color: #fff;
        border: 0;
        font-weight: 300;
      }
    }

  }

}

footer {
  text-align: center;
  padding: 2em 0;
  color: @mono-80;
}