.row .tickets {}

#tickets {
  background: white;

  padding: 0;

  ul {
    border-right: 1px dotted @mono-20;
    .clearfix;

    li h1 a {
      color: @mono;
      font-weight: 800;
      text-decoration: none;
      border: none;
      &:hover {
        border-bottom: 1px dotted @secondary;
      }
    }
  }

}

.ticket-blurb {
  float: left;
  width: 33.333%;
  position: relative;

  &.insights {
    background: lighten(@mono-20, 10%);

    h4 {
      position: absolute;
      color: @mono-60;
      top: 2em;
      width: 14em;
      left: 50%;
      margin-left: -7em;
      font-weight: 600;
    }
  }

}

.event {
  padding: 4em 2em;
  border-left: 1px dotted @mono-20;

  h1 {
    .serif;
    font-size: 2.75em;
    color: @mono;
    letter-spacing: -1px;
    font-weight: 800;
    margin-bottom: 0.5em;
  }

  time, p {
    color: @mono-60;
    display: block;
    margin-bottom: 1.5em;
    text-align: center;
  }

  .tickets {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: normal;
    margin-bottom: 1em;
  }

  .more {
    display: block;
    text-align: center;
    font-size: 0.75em;
    border:0;
  }

}

#ticket-floater {
  position: fixed;
  bottom: 25px;
  left: 25px;
  display: none;
  z-index: 999;
}

p.paypal-sucks {
  margin:0;
  color: @mono;
  font-size: 0.875em;
  margin-bottom: 2em;
}

.row.insights h4 {
  margin-bottom: 1em;
}
