#word-art {
  margin: 0 auto;
  margin-bottom: 4em;
  margin-top: 3em;
  width: 100%;
  color: #ffffff;
  #time, #date {
    display: block;
    font-family: "deming";
    font-size: 1.5em;
    color: @mono-20;
    -webkit-font-smoothing: antialiased;
    text-shadow: 3px 3px 0px darken(@mono, 30%);
    line-height: 0.8;
    padding: 0.5em 0 0.5em 0;
    letter-spacing: 2px;
    border-top: 2px dotted @mono-40;
    border-bottom: 2px dotted @mono-40;
  }

  #time {
    width: 22em;
    margin: 0 auto;
  }

  #date {
    width: 22em;
    margin: 0 auto;
    margin-top: -1em;
  }

  #hack {
    font-family: "sullivan";
    text-transform: uppercase;
    font-size: 15em;
    font-weight: normal;
    text-shadow: 6px 6px 0px darken(@mono, 30%);
    -webkit-font-smoothing: antialiased;
    margin: 0;
    line-height: 1;
    color: #fff;
    letter-spacing: -10px;
    padding: 0;
    span {
      color: @primary;
    }
  }
}